.jumbotron {
  color: black;
  text-align: center;
  background-image: url("http://vignette3.wikia.nocookie.net/bigbangtheory/images/2/20/All_.png/revision/latest?cb=20150703233059");
  h1 {
    background-color: white;
    display: inline-block;
  }
}

.doctor {
  margin-left: 40px;
  margin-top: 40px;
  padding: 4px;
  border: 2px solid skyblue;
  display: inline-block;
  width: 500px;
  p {
    float: right;
  }
}

.output {
  margin-top: 50px;
}
